.gridContainer {
    display: grid;
    width: 85%;
    grid-auto-columns: 10px;
    grid-auto-rows: 10px;
    grid-auto-flow: column;
    column-gap: 10px;
    row-gap: 15px;
}

.gridItemFrame {
    padding: 0px;
}

@media only screen and (max-device-width: 480px) {
    .gridContainer {
    display: flow;
    width: 85%;
    row-gap: 3px;
    }

}