.menu {
    font-family: 'Pieces of Eight';
    font-size: 3em;
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;

    display: block;
    overflow: hidden;
    pointer-events: none;
}

.menuItem {
    position: relative;
    top: 15vh;
    left: calc(50vw - 50%);
    margin: 20px;
    pointer-events: auto;

    text-shadow: 0 0 .1em black;
    transition: text-shadow 0.5s;
    color: #EEE;
}

.menuItem.active, .menuItem:hover {
    text-shadow: 0 0 .1em white;
}

.menuItem:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 1rem 0 1.5rem;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
}

.menuItem.active:after, .menuItem:hover:after {
    border-bottom: 3px solid white;
}

.background > img {
    position: relative;
    top: -630px;
    left: -20px;
    width: 110%;
    transform: scaleX(-1);
}

.frontWave > div {
    background-image: url('/menu/wave-paint.png');
    width: 150vw;
    height: 300px;
    position: relative;
    left: -25vw;
}

.wave > div {
    background-image: url('/menu/wave-plain.png');
    width: 150vw;
    height: 300px;
    position: relative;
    left: -25vw;
}

.ship > img {
    position: relative;
    top: 5vh;
    left: 10vw;
    width: 270px;
}

.wave[data-depth="0.0"] > div {
    top: 20vh;
}

.wave[data-depth="0.2"] > div {
    top: 25vh;
    left: -15vw;
}

.wave[data-depth="0.4"] > div {
    top: 30vh;
}

.wave[data-depth="0.6"] > div {
    top: 35vh;
    left: -15vw;
}

.frontWave[data-depth="0.8"] > div {
    top: 40vh;
}
