.menu {
    font-family: 'Pieces of Eight';
    font-size: 3em;
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;

    display: block;
    overflow: hidden;
    pointer-events: none;
}

.menuItem {
    position: relative;
    top: 15vh;
    left: calc(50vw - 50%);
    margin: 20px;
    pointer-events: auto;

    text-shadow: 0 0 .1em black;
    transition: text-shadow 0.5s;
    color: #EEE;
}

@media only screen and (max-device-width: 480px) {
    .menuItem {
        top: 5vh;
        display: flow-root;
        width: 85%;
        text-align: center;
    }

    .ship {
        filter: brightness(0.5)
    }
}

.menuItem.active, .menuItem:hover {
    text-shadow: 0 0 .1em white;
}

.menuItem:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 1rem 0 1.5rem;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
}

.menuItem.active:after, .menuItem:hover:after {
    border-bottom: 3px solid white;
}

.transitionLayer {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -5rem 5rem 0 #000000;
}

.background > img {
    position: relative;
    top: -630px;
    left: -20px;
    width: 110%;
    transform: scaleX(-1);
}

.frontWave > div {
    background-image: url('/menu/wave-paint.png');
    width: 150vw;
    height: 300px;
    position: relative;
    left: -25vw;
}

.wave > *, .frontWave > *, .ship > * {
    animation: wave 7s linear infinite;
}

.ship {
    animation: sway 10s ease-in-out infinite;
}

@keyframes sway {
    from { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    to { transform: rotate(-5deg); }
}

/* https://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/ */
@keyframes wave {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

.wave > div {
    background-image: url('/menu/wave-plain.png');
    width: 150vw;
    height: 300px;
    position: relative;
    left: -25vw;
}

.ship > img {
    position: relative;
    top: 5vh;
    left: 10vw;
    width: 270px;
}

.wave[data-depth="0.0"] > div {
    top: 20vh;
    animation-delay: -1s;
}

.wave[data-depth="0.2"] > div {
    top: 25vh;
    left: -15vw;
    animation-delay: -2s;
}

.wave[data-depth="0.4"] > div {
    top: 30vh;
    animation-delay: -3s;
}

.wave[data-depth="0.6"] > div {
    top: 35vh;
    left: -15vw;
    animation-delay: -4s;
}

.frontWave[data-depth="0.8"] > div {
    top: 40vh;
    animation-delay: -5s;
}
